# Created by .ignore support plugin (hsz.mobi)
.idea/
codecept.phar
composer.lock
composer.phar
phpunit.phar
tests/_data/
tests/_output/
tests/_support/
tests/acceptance.suite.yml
tests/acceptance/
tests/functional.suite.yml
tests/functional/
vendor/
_xajax_core
_xajax_js
xajax_js
xajax_plugins

